//* Navbar
@import "~bootstrap/scss/bootstrap";

#collasible-nav-dropdown {
  margin-right: 60px;
}

//* Register Form
#form {
  margin: 60px 400px;
}

#submitButton {
  margin-left: 340px;
}


//* ThreadCard
.threadBox {
  width: 450px;
  border: 1px solid black;
  margin: 20px auto;
  padding: 10px;
}

.createThread {
  margin-right: 100px;
}

.createdBy {
  font-size: smaller;
  text-align: right;
}

.imageLogo {
  width: 40px;
  height: 40px;
  background-image: url("/src/styles/images/SemiosphereLabThis.png");
}