//* Navbar
@import "~bootstrap/scss/bootstrap";


#collasible-nav-dropdown {
  margin-right: 60px;
}

//* Register Form
#form {
  margin: 60px 400px;
}

#submitButton {
  margin-left: 340px;
}

//* Replies
.replyBox {
  width: 450px;
  border: 1px solid black;
  margin: 20px auto;
  padding: 10px;
}

.replyButton {
  position: static;
  text-align: right;
  cursor: pointer;
  font-size: smaller;
  width: 50px !important;
}


//* Threads
.threadBox {
  width: 450px;
  border: 1px solid black;
  margin: 20px auto;
  padding: 10px;
}

.createThread {
  margin-right: 100px;
}

.createdBy {
  font-size: smaller;
  text-align: right;
}

.imageLogo {
  width: 80px;
  height: 80px;
  margin-right: 30px;
}

// * Home
.d-block.w-100 {
  width: 300px;
  background-color: darkseagreen;
  height: 300px;
}
.title {
  margin-bottom: 100px;
}

.title p {
  font-size: larger;
}

.container {
  margin-top: 40px;
}

.col-sm-6 {
  margin-left: 300px;
}