//* Navbar
@import "~bootstrap/scss/bootstrap";


#collasible-nav-dropdown {
  margin-right: 60px;
}

//* Register Form
#form {
  margin: 60px 400px;
}

#submitButton {
  margin-left: 340px;
}

//* Replies
.replyImageLogo {
  width: 40px;
  height: 40px;
}

.replyBox {
  width: 450px;
  border: 1px solid black;
  margin: 20px auto;
  padding: 10px;
}

.replyMedia {
  margin-bottom: -18px;
}

.replyOwner {
  font-size: 12px;
  text-align: right;
}

.replyMessage {
  margin: 10px 0 10px 0;
}

.replyButton {
  position: static;
  text-align: right;
  cursor: pointer;
  font-size: smaller;
  width: 50px !important;
}

//* Threads
.threadBox {
  width: 450px;
  border: 1px solid black;
  margin: 20px auto;
  padding: 10px;
}

.threadTitle {
  margin-top: 5px;
}

.threadUsername {
  font-size: 14px;
}

.createThread {
  margin-right: 100px;
}

.createdBy {
  font-size: smaller;
  text-align: right;
}

.replyChoice {
  display: flex;
}

//* Semiosphere Logo
.imageLogo {
  width: 80px;
  height: 80px;
  margin-right: 30px;
}

// * Home
.d-block.w-100 {
  // width: 300px;
  // background-color: darkseagreen;
  // height: 300px;
  position: relative;
}

.slideFirst {
  max-width: 1000px;
  height: 602px;
  margin: auto;
  position: absolute;
  opacity: 0.9;
}

.slideSecond {
  max-width: 1000px;
  height: 602px;
  margin: auto;
  position: absolute;
  opacity: 0.9;
}

.slideThird {
  max-width: 1000px;
  height: 602px;
  margin: auto;
  position: absolute;
  opacity: 0.9;
}

.title {
  margin-bottom: 100px;
  font-size: 40px;
  color: white;
  position: relative;
  // border: 1px black solid;
  // background-color: violet;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.title p {
  font-size: larger;
}

.container {
  margin-top: 40px;
}

.col-sm-6 {
  margin-left: 300px;
}